* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.login-page {
    height: 100%;
    width: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page img {
    width: 130px;
    height: 92px;
    margin-bottom: 94px;
}

.loading {
    height: 130px;
    width: 130px;
}

.login-page input {
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139%;
    margin-bottom: 15px;
}

.login-page input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
}

.login-page button {
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #696969;
}

main {
    width: 100%;
}

nav {
    top: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

nav img {
    width: 75px;
    height: 53px;
}

nav ion-icon {
    height: 31px;
    width: 42px;
}

nav,
footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px 0px;
    position: fixed;
    background: #FFFFFF;
}

.chat {
    height: 100%;
    width: 100vw;
    padding: 106px 0px;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: scroll;
}

.message {
    width: 100vw;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.logged-in-out {
    background: #DCDCDC;
}

.private {
    background: #FFDEDE;
}

footer {
    bottom: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.chat time {
    color: #AAAAAA;
}

.chat b {
    font-weight: 700;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

footer input,
footer input::placeholder,
footer span {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    color: #000000;
}

footer input {
    width: 100%;
    border: none;
    outline: none;
    font-weight: normal;
    line-height: 21px;
    line-height: 139%;
}

footer input::placeholder {
    font-weight: bold;
    font-style: italic;
}

footer span {
    font-weight: 300;
    font-size: 14px;
}

footer ion-icon {
    font-size: 26px;
}

aside {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
}

.transparent {
    height: 100%;
    width: 31%;
    background: rgba(0, 0, 0, 0.6);
}

.menu {
    padding: 26px 12px;
    height: 100%;
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    overflow-y: scroll;
}

.contacts,
.visibility {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: left;
}

.menu h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 33px 0px;
}

.menu li {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #000000;
    position: relative;
}

.menu li span {
    width: 80%;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

aside ul div {
    display: flex;
    align-items: center;
}

.menu li ion-icon {
    font-size: 20px;
    margin-right: 10px;
}

.menu li .checkMark {
    display: none;
    margin-right: 0px;
    color: #28bb25;
    position: absolute;
    right: 0px;
}

.menu li .checkMark.selected {
    display: initial;
}

.hidden {
    display: none;
}